# Ignorar o diretório de ambiente virtual
venv/

# Ignorar arquivos temporários do sistema
*.log
*.tmp

# Ignorar configurações locais
.env
.vscode/

# Ignorar arquivos específicos do Python
__pycache__/
*.pyc
